.container {
  width: 95vw%;
  height: 95vh;
  text-align: center;
  background-color: black;
  border: 30px solid white;
  color: white;
  font-family: "Lato", sans-serif;
}

#locationText {
  margin-top: 13%;
  margin-bottom: 20px;
  position: relative;
}

#location {
  font-size: 2em;
}

#temp {
  margin-top: 20px;
  font-size: 4em;
  cursor: pointer;
  color: #71db71;
}

#temp:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #555;
}

#icon img {
  max-width: 300px;
  width: 15%;
}

#condition {
  font-size: 1.3em;
}
