.container {
  width: 95vw%;
  height: 95vh;
  text-align: center;
  border: 10px solid black;
  transition: opacity 0.5s linear;
}

#location {
  margin-top: 15%;
  font-size: 2em;
}

#location:before {
  content: " Current Conditions For:";
  display: block;
  font-size: 0.7em;
}

#temp {
  font-size: 4em;
  cursor: pointer;
  color: blue;
}

#temp:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #555;
}

#icon img {
  max-width: 300px;
  width: 15%;
}

#condition {
  font: normal normal 1.5em/1 "Arial", sans-serif;
  text-transform: uppercase;
}
